
<div class="" style="text-align: right;">
  <button cButton color="info" variant="outline" type="button" (click)="generatePDF()">Descargar PDF</button>
</div>
<br>
  <!-- factura.component.html -->
<div #content id="content" class="container" style="font-size: 23px; background-color: #ffffff;">  
  <svg id="eKXDLOWbZe41" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1280 200" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" width="1280" height="200"><path d="M-24.519836,-6.398085L55.725392,54.012104h1269.754772v-60.410189q-1351.161934.290484-1280,0Z" transform="translate(24.519836 6.398085)" fill="#3882ca" stroke="#fff" stroke-width="4.4"/><path d="M-24.519836,-6.398085L55.725392,54.012104l943.312508.000001l103.062284,56.464411h96.770113v-116.874601q-1224.552067.290484-1223.390133,0Z" transform="translate(151.129703 27.499736)" fill="#3882ca" stroke="#fff" stroke-width="4.4"/></svg>

  <div class="container" style="  width: 100%;
  padding-right: 40px;
  padding-left: 100px;
  margin-right: auto;
  margin-left: auto;">


  <div style="display: flex; justify-content: space-between; align-items: center;">
    <div style="width: 25%;">
      <!-- Contenido de la primera parte -->
      <img  src="../../../../assets/img/logos/Alturas.png" alt="Logo" style="float: left;">
    </div>
    <div style="width: 30%;  text-align: center;">
      <!-- Contenido de la segunda parte -->
      <h1><strong>Cotización</strong> </h1>
    </div>
    <div style="width: 45%; text-align: center;">
      <!-- Contenido de la tercera parte -->
      <p>CONSTRUCTORA ALTURAS VERTICALES SAS <br>
        NIT: 901063659 <br>
        ACABADOS Y REVESTIMIENTOS PARA OBRA CIVIL
      </p>  
      
      <p>Cotización N°: {{this.budgetDto?.budgetId}} <br>
        Fecha: {{this.budgetDto?.date | date:'dd MMMM yyyy' || 'dd MM yyyy'}} </p>
    </div>
  </div>
  
<br><br>
<div>
  <p>Señores <br>
    <strong>{{this.budgetDto?.customerDto?.customerName}}</strong></p>
    <p>Obra <br>
       <strong>{{this.budgetDto?.budgetName}}</strong>
      </p>
      <p>
        Cordial saludo <br>
        Atendiendo su amable solicitud, le estamos cotizando lo siguiente:
      </p>
</div>

  <table style="width: 100%; border-collapse: collapse; margin-top: 20px;">
    <thead>
      <tr style="background-color: #7e8386; color: #201f1f;">
        <th style="border: 1px solid #ddd; padding: 10px; text-align: left;  font-size: 18px; text-align: center;">Descripción</th>
        <th style="border: 1px solid #ddd; padding: 10px; text-align: left;text-align: center;">Unidad</th>
        <th style="border: 1px solid #ddd; padding: 10px; text-align: left;text-align: center;">Cantidad</th>
        <th style="border: 1px solid #ddd; padding: 10px; text-align: left;text-align: center;">Precio Unitario</th>
        <th style="border: 1px solid #ddd; padding: 10px; text-align: left; text-align: center;">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let budgetDetailsDto of this.budgetDto?.budgetDetailsDto; let i = index">
        <td style="border: 1px solid #ddd; padding: 10px; text-align: left;">{{budgetDetailsDto.description}}</td>
        <td style="border: 1px solid #ddd; padding: 10px; text-align: left;text-align: center;">Un</td>
        <td style="border: 1px solid #ddd; padding: 10px; text-align: left;text-align: center;">{{budgetDetailsDto.quantity.toLocaleString()}}</td>
        <td style="border: 1px solid #ddd; padding: 10px; text-align: left;text-align: right;">${{budgetDetailsDto.price.toLocaleString()}}</td>
        <td style="border: 1px solid #ddd; padding: 10px; text-align: left;text-align: right;">${{getSubtotalDetail(budgetDetailsDto).toLocaleString()}}</td>        
      </tr>
      
    </tbody>
    <tfoot>
      <tr>     
        <td style="padding: 10px; text-align: left;"></td>
        <td style="padding: 10px; text-align: left;"></td>
        <td style=" padding: 10px; text-align: left;"></td>
        <td style="border: 1px solid #ddd; padding: 10px; text-align: left;text-align: right;"><strong>Subtotal</strong></td>
        <td style="border: 1px solid #ddd; padding: 10px; text-align: left;text-align: right;">$ {{this.budgetDto?.amount?.toLocaleString()}}</td>
      </tr>
      <tr>     
        <td style="padding: 10px; text-align: left;"></td>
        <td style="padding: 10px; text-align: left;"></td>
        <td style=" padding: 10px; text-align: left;"></td>
        <td style="border: 1px solid #ddd; padding: 10px; text-align: left;text-align: right;"><strong>AIU</strong></td>
        <td style="border: 1px solid #ddd; padding: 10px; text-align: left;text-align: right;">$ {{this.aiu.toLocaleString()}}</td>
      </tr>
      <tr>     
        <td style="padding: 10px; text-align: left;"></td>
        <td style="padding: 10px; text-align: left;"></td>
        <td style=" padding: 10px; text-align: left;"></td>
        <td style="border: 1px solid #ddd; padding: 10px; text-align: left;text-align: right;"><strong>IVA AIU</strong></td>
        <td style="border: 1px solid #ddd; padding: 10px; text-align: left;text-align: right;">$ {{this.iva.toLocaleString()}}</td>
      </tr>
      <tr>     
        <td style="padding: 10px; text-align: left;"></td>
        <td style="padding: 10px; text-align: left;"></td>
        <td style=" padding: 10px; text-align: left;"></td>
        <td style="border: 1px solid #ddd; padding: 10px; text-align: left;text-align: right;"><strong>TOTAL</strong></td>
        <td style="border: 1px solid #ddd; padding: 10px; text-align: left; text-align: right;">$ {{this.total.toLocaleString()}}</td>
      </tr>
    </tfoot>
  </table>
<br>
  <div>
      <p>

        <span *ngIf="this.budgetDto?.wayToPay && this.budgetDto?.wayToPay?.trim() !== ''">
          <strong>FORMA DE PAGO:</strong> {{this.budgetDto?.wayToPay}}
      </span>
        <br>
        <span *ngIf="this.budgetDto?.deliveryTime && this.budgetDto?.deliveryTime?.trim() !== ''">
          <strong>TIEMPO DE ENTREGA:</strong> {{this.budgetDto?.deliveryTime}}
      </span>
 
        <br>

        <span *ngIf="this.budgetDto?.validityOffer && this.budgetDto?.validityOffer?.trim() !== ''">
          <strong>VALIDEZ DE LA OFERTA:</strong> {{this.budgetDto?.validityOffer}}
      </span>
      <br>

      <span *ngIf="this.budgetDto?.note && this.budgetDto?.note?.trim() !== ''">
        <strong>NOTA:</strong> {{this.budgetDto?.note}}
    </span>
       
        <br>
        </p>

        <br>
        <p>Agradecemos el habernos tenido en cuenta. Estaremos a la espera de su respuesta.</p>
  </div>
</div> 
      <svg id="e5dIEiOrcgZ1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1280 250" shape-rendering="geometricPrecision" text-rendering="geometricPrecision"><path d="M0,300v-197.812121h465.617808L764.906743,299.999998L0,300Z" transform="matrix(1 0 0 1.177286 0-103.1858)" fill="#c9d4da" stroke="#fff" stroke-width="2.56"/><path d="M1280,325.463369h-1005.854484L135.219925,175.763954h1144.780073L1280,325.463369Z" transform="translate(0-113.801368)" fill="#5999d6" stroke-width="2.56"/><text dx="0" dy="0"   font-size="38.25" font-weight="400" transform="matrix(.7004 0 0 0.671983 758.219798 118.452321)" fill="#fff" stroke-width="0"><tspan y="0" font-weight="400" stroke-width="0"><![CDATA[
    Alturasverticales6724@gmail.com
    ]]></tspan></text><path d="" fill="none" stroke="#3f5787" stroke-width="2.56"/><text dx="0" dy="0" font-size="38.25" font-weight="400" transform="matrix(.7004 0 0 0.65574 796.445538 148.591666)" fill="#fff" stroke-width="0"><tspan y="0" font-weight="400" stroke-width="0"><![CDATA[
    Cel 3042549423-3003490810
    ]]></tspan></text><text dx="0" dy="0"  font-size="38.25" font-weight="400" transform="translate(959.466937 276.032606)" stroke-width="0"><tspan y="0" font-weight="400" stroke-width="0"><![CDATA[
     
    ]]></tspan></text><text dx="0" dy="0"  font-size="38.25" font-weight="400" transform="translate(707.609962 186.089693)" fill="#fff" stroke-width="0"><tspan y="0" font-weight="400" stroke-width="0"><![CDATA[
    www.alturasverticales.com.co
    ]]></tspan></text>

    </svg>
</div>

