<c-col xs="12">
  <div style="display: flex; justify-content: space-between; align-items: center;" class="p-1">
    <span style="color:  #6610f2 ; font-size: 2rem; font-weight: 550;" color="primary"
      class="cui-primary">Clientes</span>
    <a cButton type="button" [routerLink]="'/customers/add'" class="btn btn-primary btn-sm">Nuevo Cliente</a>
  </div>
</c-col>


<c-col xs="12">
  <form cForm class="row g-3" [formGroup]="customerForm" (ngSubmit)="onAddUpdateCustomer()">
    <!-- Id del customer (oculto) -->
    <input cFormControl formControlName="customerId" style="display: none;" />

    <!-- Nombre del cliente -->
    <c-col md="6">
      <label cLabel for="customerName">Nombre*</label>
      <input cFormControl formControlName="customerName" class="form-control-sm"
        placeholder="Nombre completo o Razón Social"
        [ngClass]="{'is-invalid': customerForm.get('customerName')?.invalid && (customerForm.get('customerName')?.touched || customerForm.get('customerName')?.dirty)}" />
      <div class="text-medium-emphasis small text-danger-error"
        *ngIf="customerForm.get('customerName')?.invalid && (customerForm.get('customerName')?.touched || customerForm.get('customerName')?.dirty)">
        Nombre del cliente es obligatorio.
      </div>
    </c-col>

    <!-- NIT o CC -->
    <c-col md="6">
      <label cLabel for="customId">NIT o CC</label>
      <input cFormControl formControlName="customId" class="form-control-sm" placeholder="Ejemplo: 123456789-0" />
    </c-col>

    <!-- Email del cliente -->
    <c-col md="6">
      <label cLabel for="email">Email</label>
      <input cFormControl type="email" formControlName="email" class="form-control-sm" placeholder="correo@ejemplo.com"
        [ngClass]="{'is-invalid': customerForm.get('email')?.invalid && (customerForm.get('email')?.touched || customerForm.get('email')?.dirty)}" />
      <div class="text-medium-emphasis small text-danger-error"
        *ngIf="customerForm.get('email')?.invalid && (customerForm.get('email')?.touched || customerForm.get('email')?.dirty)">
        Email del cliente es obligatorio.
      </div>
    </c-col>

    <!-- Dirección -->
    <c-col xs="6">
      <label cLabel for="address">Dirección</label>
      <input cFormControl formControlName="address" class="form-control-sm"
        placeholder="Ej: Calle 123, Nº 45-67, Piso 2, Bogotá" />
    </c-col>


    <!-- Botones de acción -->
    <c-col xs="12" class="text-end">
      <a cButton type="button" class="me-md-2 btn-sm" variant="outline"
        [routerLink]="'/customers/customers'">Regresar</a>
      <button cButton type="submit" class="me-md-2 btn-sm" style="margin-right: 10px;">
        {{ customerForm.get('customerId')?.value > 0 ? 'Actualizar' : 'Guardar' }}
      </button>
    </c-col>
  </form>

</c-col>


<!-- Modal de confirmación -->
<app-confirmation-modal #confirmationModal [messageModal]="messageModal" [title]="title" [isModalError]="isModalError"
  [alignment]="'top'">
</app-confirmation-modal>