<!-- Título de la sección -->
<c-col xs="12">  
    <div class="d-flex justify-content-between align-items-center p-1">          
      <span class="cui-primary" style="color: #6610f2; font-size: 2rem; font-weight: 500; font-family: Yanone Kaffeesatz;">Formato Cotizaciones</span>    
    </div>
  </c-col>
  
  <br>
  
  <!-- Formulario principal -->
  <c-col xs="12">
    <c-col xs="12">
      <label cLabel for="telephones"><strong>Selecionar formato</strong></label>  

    </c-col>

    <br>
    <form cForm class="row g-3" [formGroup]="companyForm" (ngSubmit)="updateBudgetConfig()">
  
      <!-- IDs de la empresa (ocultos) -->
      <input cFormControl formControlName="companyId" style="display: none;" />
      <input cFormControl formControlName="budgetConfigId" style="display: none;" />
      <input cFormControl formControlName="budgetTemplateId" style="display: none;" />

  
      <!-- Tarjetas de selección responsivas -->
      <div class="row justify-content-center"> <!-- Centra las tarjetas horizontalmente -->
        
        <c-col xs="12" sm="6" md="4" lg="2" class="mb-3" *ngFor="let template of budgetTemplates">
            <div class="form-check form-check-inline">
                <div class="card" [ngClass]="{'selected-card': selectedOption === template.budgetTemplateId}">
                    <div class="card-body text-center">
                        <p class="card-text">{{template.budgetTemplateName}}</p>
                        <input 
                            class="form-check-input" 
                            type="radio" 
                            name="inlineRadioOptions" 
                            id="inlineRadio{{template.budgetTemplateId}}" 
                            [value]="template.budgetTemplateId" 
                            (change)="selectOption(template.budgetTemplateId)" 
                            style="display: none;">
                        <label class="form-check-label" for="inlineRadio{{template.budgetTemplateId}}">
                            <img src="{{template.urlImageExample}}" class="card-img-top" alt="Opción {{template.budgetTemplateId}}" style="max-width: 300px;">
                        </label>
                    </div>
                </div>
            </div>
        </c-col>  
      </div>
  
      <!-- Inputs para Template y Introducción -->
      <div class="row">

        <c-col xs="12" md="6" class="mb-3">
          <label cLabel for="telephones"><strong>Introducción</strong></label>       
          <textarea cFormControl type="text" formControlName="introduction" placeholder="Ej: 3001234567" class="form-control form-control-sm" rows="3"></textarea>

        </c-col>
      </div>

      <!-- Textarea con row de 3 -->

  
      <!-- Botones de acción -->
      <c-col xs="12" class="text-end">
        <a cButton type="button" class="me-md-2 btn-sm" variant="outline" [routerLink]="'/'">Salir</a>
        <button cButton type="submit" class="me-md-2 btn-sm" style="margin-right: 10px;">Actualizar</button>
      </c-col>
  
    </form>
  </c-col>

  
 <!-- Modal de confirmación -->
<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)" alignment="center">
  <div class="modal-dialog modal-dialog-centered"> <!-- Clase para centrar el modal verticalmente -->
    <div class="modal-content text-center" style="border: none;"> <!-- Contenido centrado y sin bordes -->

      <!-- Título con icono centrado y botón de cerrar -->
      <div class="modal-header justify-content-center" style="border-bottom: none; position: relative;"> <!-- Sin línea separadora -->
        <h5 cModalTitle>
          <i class="bi bi-check-circle" style="color: green; margin-right: 10px;"></i> <!-- Ícono antes del título -->
          <span class="cui-primary" style="color: #6610f2; font-size: 2.5rem; font-weight: 500; font-family: Yanone Kaffeesatz;">¡Actualización Completada!</span>    
        
        </h5>
        <!-- Botón de cierre 'X' en la esquina superior derecha -->
        <button (click)="closeModal()" cButtonClose style="position: absolute; top: 10px; right: 10px;">
          <i class="bi bi-x"></i> <!-- Ícono de cerrar -->
        </button>
      </div>

      <!-- Mensaje centrado -->
      <div class="modal-body">
        <p style="color: #202021; font-size: 1rem; font-weight: 600;">{{messageModal}}</p>
      </div>

      <!-- Botón centrado -->
      <div class="modal-footer justify-content-center" style="border-top: none;"> <!-- Sin línea separadora -->
        <button (click)="closeModal()" cButton color="primary" style="color: white; " class="btn-lg">Salir</button>
      </div>
      
    </div>
  </div>
</c-modal>

  
  
  <!-- Spinner de carga -->
  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white">Cargando...</p>
  </ngx-spinner>
  