
<div class="bg-light min-vh-100 d-flex flex-row align-items-center" style="background-image: url('../../../../assets/images/BackLogin.jpg'); background-size: cover;">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <h1>Inicio de sesión</h1>
              <p class="text-medium-emphasis">Inicia sesión en tu cuenta</p>
              <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <!-- Campo de correo electrónico -->
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input
                    autoComplete="username"
                    cFormControl
                    formControlName="email"
                    placeholder="Email"
                  />
                </c-input-group>
                <!-- Campo de contraseña -->
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    formControlName="password"
                    placeholder="Contraseña"
                    type="password"
                  />
                </c-input-group>

                <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)" class="text-danger">
                  Email no válido.
                </div>
                
                <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)" class="text-danger">
                  La contraseña es obligatoria.
                </div>
                <div style="margin-bottom: 1rem;"></div> <!-- Espacio vertical -->
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary" type="submit">
                      Iniciar sesión
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link" routerLink="/recoveryPassword">
                      ¿Olvidaste tu contraseña?
                    </button>
                 
                  </c-col>

                </c-row>
                <c-row>
                  <c-col xs="12">
                    <span>Versión: 16.10.2024-1</span>
                  </c-col>
                  
                  
                </c-row>


              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>Registrarse</h2>
                <p>
                  ¡Únete a la mejor plataforma para constructores!
                  <br>
                  Crea cotizaciones de manera GRATIS y simplifica tu trabajo. ¡Regístrate ahora y descubre todo lo que podemos ofrecerte!
                </p>
                <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                  ¡Regístrate Ahora!
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>


<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
  <c-modal-header>
    <h5 cModalTitle>{{titleModal}}</h5>
    <button (click)="toggleLiveDemo()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>{{messageModal}}</c-modal-body>
  <c-modal-footer>

    <button (click)="toggleLiveDemo()" cButton color="primary"  variant="outline">
      Cerrar
    </button>     
  </c-modal-footer>
</c-modal>


<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>