<div
  class="bg-light min-vh-100 d-flex flex-column justify-content-center align-items-center text-center text-md-start"
  style="background-image: url('../../../../assets/images/BackLogin.jpg'); background-size: cover;"
>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
        <c-card-group>
          <!-- Tarjeta de inicio de sesión -->
          <c-card class="p-4">
            <c-card-body>
              <h1>Inicio de sesión</h1>
              <p class="text-medium-emphasis">Inicia sesión en tu cuenta</p>
              <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                <!-- Campo de correo electrónico -->
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input
                    autoComplete="username"
                    cFormControl
                    formControlName="email"
                    placeholder="Email"
                    class="form-control"
                  />
                </c-input-group>
                <!-- Campo de contraseña -->
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    formControlName="password"
                    placeholder="Contraseña"
                    type="password"
                    class="form-control"
                  />
                </c-input-group>

                <!-- Validación de campos -->
                <div
                  *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty)"
                  class="text-danger"
                >
                  Email no válido.
                </div>
                <div
                  *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty)"
                  class="text-danger"
                >
                  La contraseña es obligatoria.
                </div>

                <div class="row mt-4">
                  <div class="col-6 text-center col-md-12">
                    <button cButton class="px-4" color="primary" type="submit">
                      Iniciar sesión
                    </button>
                  </div>
                  <div class="col-6 col-md-6 text-center d-md-none">
                    <button cButton color="secondary" routerLink="/register">
                      ¡Regístrate!
                    </button>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-12 text-center">
                    <button cButton class="px-0" color="link" routerLink="/recoveryPassword" style="font-size: 0.9rem;">
                      Olvide mi contraseña
                    </button>
                  </div>
                </div>
                
                <div class="row mt-3">
                  <div class="col-12">
                    <span style="font-size: 0.8rem;">Versión: 27.10.2024-1</span>
                  </div>
                </div>
                

                <!-- Botón de registro en pantallas pequeñas -->

              </form>
            </c-card-body>
          </c-card>

          <!-- Tarjeta de registro, visible en pantallas medianas y grandes -->
          <c-card
            class="d-none d-md-block text-white bg-primary py-5"
            style="width: 44%;"
          >
            <c-card-body class="text-center">
              <div>
                <h2>Registrarse</h2>
                <p>
                  ¡Únete a la plataforma líder para constructores!
                  <br />
                  Crea cotizaciones GRATIS, consulta análisis de precios unitarios APU, facturas.
                </p>
                <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                  ¡Regístrate Ahora!
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </div>
    </div>
  </div>
</div>
