<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)">
    <c-modal-header>
      <h5 cModalTitle>Upppss!!!</h5>
      <button (click)="toggleLiveDemo()" cButtonClose></button>
    </c-modal-header>
    <c-modal-body>{{messageModal}}</c-modal-body>
    <c-modal-footer>
      <button (click)="toggleLiveDemo()" cButton color="primary">
        Cerrar
      </button>    
    </c-modal-footer>
  </c-modal>
  
  
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>