

<c-col xs="12">
    <c-card class="mb-4">
        Hola
    </c-card>
    
    </c-col>
 <c-col xs="12">
    <c-card class="mb-4">


      <p-table #dt 
      class="p-datatable-sm" 
      styleClass="p-datatable-gridlines"        
      [value]="apus" 
      [paginator]="true" 
      [rows]="50"         
      [filterDelay]="3" 
      [loading]="loading"       
      [rowHover]="true"
      sortField="itemName" 
      [sortOrder]="-1"
      [rowsPerPageOptions]="[25, 50, 100, 500]"
      currentPageReportTemplate="{first} al {last} de {totalRecords}"
      [globalFilterFields]="['itemName','subChapterName']"
      [tableStyle]="{ 'min-width': '50rem' }"
      >



    <ng-template pTemplate="caption" >
      <div style="display: flex; justify-content: space-between; align-items: center;" >          
          <p-button label="Limpiar" [outlined]="true" icon="pi pi-filter-slash" (onClick)="clear(dt)" styleClass="ButtonClear"/>
          

          <span class="p-input-icon-left ml-auto">
              <i class="pi pi-search"></i>
          <input pInputText type="text" [(ngModel)]="searchValue" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Buscar" class="ButtonSearchValue"/>
          </span>
      </div>
  </ng-template>

      <ng-template pTemplate="header">
        <tr class="TableCustomCotiza">
            <th style="min-width:5rem">
                <div pSortableColumn="unitPriceAnalysisId" class="flex align-items-center">
                    Cod
                    <p-sortIcon field="unitPriceAnalysisId" />
                </div>
            </th>

            <th pSortableColumn="subChapterName" >
              <div class="flex align-items-center">
                  Capitulo
                  <p-sortIcon field="subChapterName" />
              </div>
          </th>  


            <th  pSortableColumn="itemName">
                <div class="flex align-items-center">
                    Item
                    <p-sortIcon field="itemName" />
                </div>
            </th>

            <th  pSortableColumn="unitMeasurement" style="min-width:10rem">
                <div class="flex align-items-center">
                    Und
                    <p-sortIcon field="unitMeasurement" />
                </div>
            </th>

            <th  pSortableColumn="laborCost" style="min-width:10rem">
                <div class="flex align-items-center">
                    Mano de Obra
                    <p-sortIcon field="laborCost" />
                </div>
            </th>

            <th  pSortableColumn="totalPrice" style="min-width:10rem">
                <div class="flex align-items-center">
                    Valor Total
                    <p-sortIcon field="totalPrice" />
                </div>
            </th>

            <th style="min-width:10rem">
              <div class="flex align-items-center">
                  Opciones
                
              </div>
          </th>

        </tr>
    </ng-template>

      <ng-template pTemplate="body" let-apu >
        <tr  class="TableCustomCotiza">
          <td>{{ apu.unitPriceAnalysisId }}</td>   
          <td>{{ apu.subChapterName  | capitalize | truncate:50}} </td>
          <td>{{ apu.itemName  | capitalize }} </td>
          <td>{{ apu.unitMeasurement }}</td>
          <!-- <td>$ {{ apu.laborCost.toLocaleString('es-ES', { minimumFractionDigits: 0, maximumFractionDigits: 0 }) }} </td> -->
          <td>$ {{ apu.laborCost.toLocaleString() }} </td>
          <td>$ {{ apu.totalPrice.toLocaleString('es-ES') }} </td>

        </tr>
      </ng-template>
    </p-table>

</c-card>
</c-col>
   


