<div
  class="bg-light min-vh-100 d-flex flex-row align-items-center"
  style="
    background-color: #212294 !important;;
    background-size: cover;
    
  "
>
    <c-container>
      <c-row class="justify-content-center">
        <c-col lg="7" md="9" xl="6">
                              <!-- Logo centrado -->
                              <div class="text-center mb-4">
                                <img
                                  src="../../../../assets/img/logos/logocotiza.png"
                                  alt="Logo"
                                  class="img-fluid"
                                  style="max-height: 100px"
                                />
                              </div>
          <c-card class="mx-4">
            <c-card-body class="p-4">            
              <form cForm  [formGroup]="recoveryPasswordForm" (ngSubmit)="onRecoveryPassword()">  
                <div class="text-center"> 
                  <h1>Recuperar constraseña</h1>
                  <p class="text-medium-emphasis">Te enviaremos un email con las instrucciones</p>
                </div>            
  
                <c-input-group class="mb-3">
                  <span cInputGroupText>&#64;</span>
                  <input autoComplete="email" cFormControl placeholder="Email" formControlName="email"/>
                </c-input-group>
  
                
                <div *ngIf="recoveryPasswordForm.get('email')?.invalid && (recoveryPasswordForm.get('email')?.touched || recoveryPasswordForm.get('email')?.dirty)" class="text-danger">
                  Campo email es obligatorio.
                </div>   
                <div class="d-flex justify-content-center"> 
         
                    
                    
                  <a 
                  cButton 
                  type="button" 
                  class="me-3 btn-sm blueButtomHover" 
                  variant="outline" 
                  [routerLink]="'/login'"
                >
                  Regresar
                </a>
              
                <button 
                  cButton 
                  type="submit" 
                  class="btn-sm blueButtom"         
                >
                ¡Recordar contraseña!
                </button>
                    
                  </div>   


                  
              </form>
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </c-container>
  </div>
  
<!-- Modal de confirmación -->
<app-confirmation-modal 
#confirmationModal  
  [messageModal]="messageModal"
  [title]="title"
  [isModalError]="isModalError"
  [alignment]="'top'">
</app-confirmation-modal>
  
  
  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Cargando... </p></ngx-spinner>