<c-col xs="12">  
  <div style="display: flex; justify-content: space-between; align-items: center;" class="p-1" >          
    <span style="color:  #6610f2 ; font-size: 2rem; font-weight: 500; font-family:  Yanone Kaffeesatz;" color="primary" class="cui-primary">Nueva Cotización</span>    
    <div >
      <span style="color:  #6610f2 ;">Fecha: </span> {{ currentDate | date: 'dd MMM yyyy' }}
    </div>
  </div>
</c-col>

<c-col xs="12">
 
        <form cForm class="row g-3" [formGroup]="budgetForm" (ngSubmit)="onAddUpdateBudget()">
          <input cFormControl formControlName="budgetId" style="display: none;" />
          <c-col md="5">
            <label cLabel for="budgetName" >Nombre de la Obra o cotización:*</label>
            <input cFormControl formControlName="budgetName" class="form-control-sm"/>
          </c-col>
          <p class="text-medium-emphasis small" *ngIf="budgetForm.get('budgetName')?.invalid && (budgetForm.get('budgetName')?.touched || budgetForm.get('budgetName')?.dirty)" class="text-danger">
            Nombre de la obra es obligatorio
          </p>

          <c-col md="5">
            <label cLabel for="customerId">Cliente:*</label>
            <select aria-label="Default select example" cFormControl cSelect formControlName="customerId" class="form-select-sm form-control-sm">
              <option *ngFor="let customer of customers" [value]="customer.customerId">{{customer.customerName}}</option>
            </select>
          </c-col>
          <c-col md="2">
            <label cLabel for="note">Sumar AIU</label>
            <input cFormCheckInput type="checkbox" cFormControl formControlName="sumAIU" (change)="updateAmount()" (blur)="updateAmount()" (input)="updateAmount()"/>
          </c-col>


          

          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th class="descripcion colo-frayforTable">Descripción</th>
                  <th class="und colo-frayforTable">Und</th>
                  <th class="cantidad colo-frayforTable">Cantidad</th>
                  <th class="precio colo-frayforTable">Precio</th>
                  <th class="subtotal colo-frayforTable">Subtotal</th>
                  <th class="acciones colo-frayforTable">Acciones</th>
                </tr>
              </thead>
              <tbody formArrayName="budgetDetailsDto">
                <tr *ngFor="let detail of budgetDetails.controls; let i = index" [formGroupName]="i">
                  <td >
                    <textarea cFormControl formControlName="description" placeholder="Descripción" style="min-height: 50px; resize: vertical; max-height: 200px; width: 100%;" rows="2"></textarea>
                    <p class="text-medium-emphasis small" *ngIf="budgetForm.get('budgetDetailsDto')?.get(i.toString())?.get('description')?.hasError('required') && (budgetForm.get('budgetDetailsDto')?.get(i.toString())?.get('description')?.touched || budgetForm.get('budgetDetailsDto')?.get(i.toString())?.get('description')?.dirty)" class="text-danger">
                      La descripción es obligatoria.
                    </p>
                  </td>
                  <td class="align-middle">

                    <select class="form-select form-select-sm" aria-label="Und" cFormControl formControlName="unitMeasurement" >
                      <option value="Und" selected>Und</option>
                      <option value="M2">M2</option>
                      <option value="M3">M3</option>
                      <option value="ML">ML</option>
                      <option value="kg">kg</option>
                      <option value="hr">hr</option>
                      <option value="mes">mes</option>
                      <option value="km">km</option>
                      <option value="Carga">Carga</option>
                      <option value="M3-km">M3-km</option>
                      <option value="jgo">jgo</option>
                      <option value="lt">lt</option>
                      <option value="ton-m">ton-m</option>
                      <option value="HA">HA</option>


                    </select>    
                  </td>
                  <td class="align-middle">
                    <input cFormControl formControlName="quantity" placeholder="Cantidad" type="number" (change)="calculateSubtotalForDetails(i)" (blur)="calculateSubtotalForDetails(i)" (input)="calculateSubtotalForDetails(i)" class="form-control-sm" />
                    <p class="text-medium-emphasis small" *ngIf="budgetForm.get('budgetDetailsDto')?.get(i.toString())?.get('quantity')?.hasError('required') && (budgetForm.get('budgetDetailsDto')?.get(i.toString())?.get('quantity')?.touched || budgetForm.get('budgetDetailsDto')?.get(i.toString())?.get('quantity')?.dirty)" class="text-danger">
                      La Cantidad es obligatoria.
                    </p>
                  </td>
                  <td class="align-middle">
                    <input cFormControl formControlName="price" placeholder="Precio" type="number" (change)="calculateSubtotalForDetails(i)" (blur)="calculateSubtotalForDetails(i)" (input)="calculateSubtotalForDetails(i)" class="form-control-sm"/>
                    <p class="text-medium-emphasis small" *ngIf="budgetForm.get('budgetDetailsDto')?.get(i.toString())?.get('price')?.hasError('required') && (budgetForm.get('budgetDetailsDto')?.get(i.toString())?.get('price')?.touched || budgetForm.get('budgetDetailsDto')?.get(i.toString())?.get('price')?.dirty)" class="text-danger">
                      El precio es obligatorio.
                    </p>
                    <p class="text-medium-emphasis small" *ngIf="budgetForm.get('budgetDetailsDto')?.get(i.toString())?.get('price')?.hasError('pattern') && (budgetForm.get('budgetDetailsDto')?.get(i.toString())?.get('price')?.touched || budgetForm.get('budgetDetailsDto')?.get(i.toString())?.get('price')?.dirty)" class="text-danger">
                      El precio debe ser un número válido.
                    </p>
                    <p class="text-medium-emphasis small" *ngIf="budgetForm.get('budgetDetailsDto')?.get(i.toString())?.get('quantity')?.hasError('pattern') && (budgetForm.get('budgetDetailsDto')?.get(i.toString())?.get('quantity')?.touched || budgetForm.get('budgetDetailsDto')?.get(i.toString())?.get('quantity')?.dirty)" class="text-danger">
                      La cantidad debe ser un número válido.
                    </p>
                  </td>
                  <td class="align-middle">
                    <input cFormControl formControlName="subtotal" placeholder="0" readonly name="subtotal" class="form-control-sm" />
                  </td>
                  <td class="align-middle">
                    <a style="color:  #dc3545 ; cursor: pointer;" (click)="removeBudgetDetail(i)">                      <svg cIcon class="me-2" name="cilXCircle"></svg>                     </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <c-col xs="12" class="text-center">
            <!-- Botón Agregar Item nuevo con margen derecho -->
            <button cButton color="primary"  type="button" class="btn-sm me-3" (click)="addBudgetDetail()">
              Agregar Item nuevo
            </button>
            
            <!-- Botón Agregar Item desde APU -->
            <button cButton color="primary"  type="button" class="btn-sm" (click)="addBudgetDetailFromAPU()">
              Agregar Item desde APU
            </button>
          </c-col>
          

          <c-col md="3">
            <input cFormControl formControlName="amount" sizing="sm" readonly style="display: none;" />
          </c-col>

          <c-col md="12">
            <div class="row">
              <c-col md="9">
                <div class="row">
                  <c-col md="8">
                    <label cLabel for="wayToPay">Forma de pago:</label>
                    <input cFormControl formControlName="wayToPay" class="form-control-sm"/>
                  </c-col>
                  <c-col md="2">
                    <label cLabel for="deliveryTime">Plazo de entrega:</label>
                    <input cFormControl formControlName="deliveryTime" class="form-control-sm" />
                  </c-col>
                  <c-col md="2">
                    <label cLabel for="validityOffer">Validez de oferta:</label>
                    <input cFormControl formControlName="validityOffer" class="form-control-sm"/>
                  </c-col>
                </div>
                <div class="row">
                  <c-col md="8">
                    <label cLabel for="note">Nota:</label>                    
                    <textarea cFormControl formControlName="note" placeholder="Escribe una nota para el cliente o detalles importantes"rows="2"></textarea>

                  </c-col>
                </div>
               

              </c-col>
              
              <c-col md="3" class="text-end">
                <h5><strong>SubTotal: {{amount.toLocaleString()}}</strong></h5>
                <h5><strong>AIU: {{aiu.toLocaleString()}}</strong></h5>
                <h5><strong>IVA: {{iva.toLocaleString()}}</strong></h5>
                <h5><strong>TOTAL: {{total.toLocaleString()}}</strong></h5>
              </c-col>
            </div>

          </c-col>

          <p class="text-medium-emphasis small" *ngIf="budgetForm.get('email')?.invalid && (budgetForm.get('email')?.touched || budgetForm.get('email')?.dirty)" class="text-danger">
            Email no es válido.
          </p>
          <p class="text-medium-emphasis small" *ngIf="showErrors" class="text-danger">
            {{msjError}}
          </p>

          <c-col xs="12" class="text-end">
            
            <a cButton type="button" class="me-3 btn-sm" variant="outline" [routerLink]="'/budgets/budgets'">
              Regresar
            </a>
            
            
            <button cButton type="submit" class="me-md-2 btn-sm" style="margin-right: 10px;">
              {{ budgetForm.get('budgetId')?.value > 0 ? 'Actualizar' : 'Guardar' }}
            </button>
     
          </c-col>
        </form>

  </c-col>


<!-- Modal de confirmación -->
<c-modal id="liveDemoModal" [visible]="visible" (visibleChange)="handleLiveDemoChange($event)"  size="xl">
  <div class="modal-dialog "> <!-- Forzar ancho a 80% del viewport -->
    <div class="modal-content text-center" style="border: none;"> <!-- Contenido centrado y sin bordes -->

      <!-- Título con icono centrado y botón de cerrar -->
      <div class="modal-header justify-content-center" style="border-bottom: none; position: relative;"> <!-- Sin línea separadora -->
        <h5 cModalTitle>
          <i class="bi bi-check-circle" style="color: green; margin-right: 10px;"></i> <!-- Ícono antes del título -->
          <span class="cui-primary" style="color: #6610f2; font-size: 2.5rem; font-weight: 500; font-family: Yanone Kaffeesatz;">¡Agregar Item desde APU!</span>   
        </h5>

        <!-- Botón de cierre 'X' en la esquina superior derecha -->
        <button (click)="closeModal()" cButtonClose style="position: absolute; top: 10px; right: 10px;">
          <i class="bi bi-x"></i> <!-- Ícono de cerrar -->
        </button>
      </div>

      <!-- Mensaje centrado -->
      <div class="modal-body">
        <!-- Campo de búsqueda -->
        <div class="mb-3">
          <input type="text" [(ngModel)]="searchTerm" class="form-control" placeholder="Buscar item..." />
        </div>

        <!-- Select con filtro -->
        <div class="mb-3">
          <select [(ngModel)]="selectedItems" class="form-select"  multiple size="10">
            <option *ngFor="let apu of apuModels | filterBy: searchTerm" [ngValue]="apu">
              {{ apu.itemName  | capitalize }} - {{ apu.unitMeasurement }} - $ {{ apu.totalPrice.toLocaleString('es-ES') }}
            </option>
          </select>
        </div>

        <!-- Botón para añadir los seleccionados -->

      </div>

      <!-- Botón centrado para salir -->
      <div class="modal-footer justify-content-center" style="border-top: none;"> <!-- Sin línea separadora -->

        <button (click)="closeModal()" cButton  variant="outline" class="btn-sm">Salir</button>
        <button (click)="addToList(selectedItems)" cButton color="primary" style="color: white;" class="btn-sm">
          Agregar Seleccionados
        </button>
      </div>
      
    </div>
  </div>
</c-modal>




  <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Cargando... </p>
  </ngx-spinner>

