.TableCustomCotiza td {
    padding: 0.2rem 0.5rem !important;
}

.TableCustomCotiza th {
    padding: 0.4rem 0.5rem !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.TableCustomCotiza {    
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.ButtonClear.p-button {
    border-radius: 6px !important;
    padding: 0.3rem 0.5rem !important;
    font-size: 0.8rem !important;
}


.ButtonSearchValue {
    font-size: 0.8rem !important;
    padding: 0.5rem 2rem !important;
}

.dropdown-status {
    border: 0px !important;    
}

.dropdown-status > span{
    padding: 0rem 0rem !important; 
}

