.email-chip {
  background-color: #6610f2;
  color: white;
  
  ::ng-deep .p-chip-text {
    color: white;
  }
  
  ::ng-deep .p-chip-remove-icon {
    color: white;
  }
}

.email-chips-container {
  min-height: 50px;
  padding: 0.5rem;
  border: 1px dashed #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
